<?xml version="1.0" encoding="UTF-8"?>
<EVENTS>
  <event index="0" input="0" inputNum="1" max="300" min="0" thresHigh="33" thresLow="28">
    <anim label="testDB" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="adonf" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="rien" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="oneFW" onHigh="0" onLow="1" whenHigh="0" whenLow="0"/>
    <anim label="oneBW" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="updown" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="testDir" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="OneStepFW" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="OneStepBV" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="testM2" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="deux" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
  </event>
  <event index="1" input="0" inputNum="1" max="300" min="0" thresHigh="76" thresLow="65">
    <anim label="testDB" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="adonf" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="rien" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="oneFW" onHigh="0" onLow="0" whenHigh="1" whenLow="1"/>
    <anim label="oneBW" onHigh="0" onLow="0" whenHigh="1" whenLow="1"/>
    <anim label="updown" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="testDir" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="OneStepFW" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="OneStepBV" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="testM2" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="deux" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
  </event>
  <event index="2" input="2" inputNum="1" max="4000" min="0" thresHigh="1150" thresLow="754">
    <anim label="testDB" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="adonf" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="rien" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="oneFW" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="oneBW" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="updown" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="testDir" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="OneStepFW" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="OneStepBV" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="testM2" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="deux" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
  </event>
  <event index="3" input="2" inputNum="1" max="4000" min="0" thresHigh="1056" thresLow="1000">
    <anim label="testDB" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="adonf" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="rien" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="oneFW" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="oneBW" onHigh="0" onLow="1" whenHigh="0" whenLow="0"/>
    <anim label="updown" onHigh="0" onLow="0" whenHigh="0" whenLow="1"/>
    <anim label="testDir" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="OneStepFW" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="OneStepBV" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="testM2" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="deux" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
  </event>
  <event index="4" input="2" inputNum="1" max="4000" min="0" thresHigh="2000" thresLow="1000">
    <anim label="testDB" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="adonf" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="rien" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="oneFW" onHigh="0" onLow="0" whenHigh="1" whenLow="0"/>
    <anim label="oneBW" onHigh="1" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="updown" onHigh="0" onLow="0" whenHigh="1" whenLow="0"/>
    <anim label="testDir" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="OneStepFW" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="OneStepBV" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="testM2" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="deux" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
  </event>
  <servo direction="-1" index="0"/>
  <servo direction="-1" index="1"/>
  <servo direction="1" index="2"/>
  <servo direction="1" index="3"/>
  <servo direction="1" index="4"/>
  <servo direction="1" index="5"/>
</EVENTS>
