<?xml version="1.0" encoding="UTF-8"?>
<EVENTS>
  <event index="0" input="1" inputNum="0" max="1000" min="0" thresHigh="533" thresLow="250">
    <anim label="testDB" onHigh="0" onLow="1" whenHigh="0" whenLow="0"/>
    <anim label="OneStepFW" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="OneStepBV" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="deux" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="adonf" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="rien" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="updown" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="D14-2-H18-20-24" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="nouvelle anim" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="nouvelle anim2" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
  </event>
  <event index="1" input="1" inputNum="0" max="1000" min="0" thresHigh="641" thresLow="250">
    <anim label="testDB" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="OneStepFW" onHigh="0" onLow="0" whenHigh="1" whenLow="0"/>
    <anim label="OneStepBV" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="deux" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="adonf" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="rien" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="updown" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="D14-2-H18-20-24" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="nouvelle anim" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="nouvelle anim2" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
  </event>
  <event index="2" input="1" inputNum="0" max="1000" min="0" thresHigh="9" thresLow="0">
    <anim label="testDB" onHigh="1" onLow="0" whenHigh="1" whenLow="0"/>
    <anim label="OneStepFW" onHigh="1" onLow="0" whenHigh="1" whenLow="0"/>
    <anim label="OneStepBV" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="deux" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="adonf" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="rien" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="updown" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="D14-2-H18-20-24" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="nouvelle anim" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="nouvelle anim2" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
  </event>
  <event index="3" input="1" inputNum="0" max="1000" min="0" thresHigh="9" thresLow="0">
    <anim label="testDB" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="OneStepFW" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="OneStepBV" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="deux" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="adonf" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="rien" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="updown" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="D14-2-H18-20-24" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="nouvelle anim" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="nouvelle anim2" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
  </event>
  <event index="4" input="1" inputNum="0" max="1000" min="0" thresHigh="9" thresLow="0">
    <anim label="testDB" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="OneStepFW" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="OneStepBV" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="deux" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="adonf" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="rien" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="updown" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="D14-2-H18-20-24" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="nouvelle anim" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
    <anim label="nouvelle anim2" onHigh="0" onLow="0" whenHigh="0" whenLow="0"/>
  </event>
  <servo direction="1" index="0"/>
  <servo direction="1" index="1"/>
</EVENTS>
